@import url('https://fonts.googleapis.com/css?family=Arimo');

body {
    font-size: 14px;
    letter-spacing: 0.5px;
    line-height: 1.5rem;
    padding: 2vh 5vw;
}

img {
    width: 35vw;
    display: inline;
}

h1 {
    font-family: 'Helvetica';
    font-weight: 300;
    font-size: 1.8rem;
}

h2 {
    font-family: 'Helvetica';
    font-weight: 700;
    font-size: 1rem;
    display: inline;
    padding: 5px 10px;
    background-color: yellow;
    border-radius: 15px;
}

h3 {
    font-size: 1rem;
}

.quote {
    border-left: 1px solid black;
    padding-left: 2vw;
    margin: 5vw;
    font-style: italic;
    line-height: 1.25rem;
}

.photos {
    text-align: center;
}

section {
    margin: 3vh 0;
}

.results {
    font-family: 'Helvetica';
    background-color: #EDEDED;
    margin: 10px 0;
    padding: 5px 25px;
    border-radius: 15px;
}

.yellow {
    border-bottom: 2px solid yellow;
}

.green {
    border-bottom: 2px solid #7fffa9;
}

.final {
    background-color: #7fffa9;
}